* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0;
}

header {
    background: #49263d;

    .top_bar {
        color: #fff0e3;
        border-bottom: 1px solid #5a2e4b;
        .courtesy_bar {
            display: flex;
            font-size: 14px;
            line-height: 20px;
            justify-content: space-between;
            padding: 14px 0;
            span {
                display: inline-block;
                padding: 0 5px;
                opacity: 0.2;
            }
            a {
                text-decoration: none;
                color: #fff0e3;
            }
        }
    }
    .header_container {
        .header_bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 18px 0;
            .header_social {
                ul {
                    display: flex;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li {
                        margin: 0 15px 0 0;
                        a {
                            display: block;
                            text-indent: -99999px;
                            width: 30px;
                            height: 30px;
                            &.facebook {
                                background: url("/images/fb_icon.png") no-repeat left top;
                            }
                            &.xtwitter {
                                background: url("/images/x_icon.png") no-repeat left top;
                            }
                            &.instagram {
                                background: url("/images/instagram_icon.png") no-repeat left top;
                            }
                            &.youtube {
                                background: url("/images/youtube_icon.png") no-repeat left top;
                            }
                        }
                    }
                }
            }
            .nav_logo {
                display: flex;
                align-items: center;
                ul {
                    display: flex;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li {
                        a {
                            font-size: 16px;
                            line-height: 22px;
                            color: #fd8f8f;
                            text-decoration: none;
                            margin: 0 20px;
                            font-weight: 500;
                            transition: 0.2s all;
                            &:hover {
                                color: #fff0e3;
                            }
                        }
                    }
                }
                .logo {
                    padding: 0 20px;
                }
            }
            .join_rcc {
                a {
                    display: inline-block;
                    font-size: 16px;
                    line-height: 22px;
                    color: #fff;
                    background: #db4242;
                    font-weight: 700;
                    text-decoration: none;
                    border-radius: 6px;
                    padding: 13px 40px;
                }
            }
        }
    }
}

.banner_area {
    background: linear-gradient(180deg, #49263d 17.31%, #8b4e5d 100%);
    .banner_slider {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            position: relative;
            text-align: center;
            color: #fff0e3;
            .slider_text {
                font-family: Poppins;
                font-weight: 700;
                font-size: 40px;
                line-height: 65px;
                text-transform: uppercase;
                width: 800px;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                bottom: 50px;
                span {
                    display: block;
                    font-family: Poppins;
                    font-weight: 200;
                    font-size: 36px;
                    line-height: 50px;
                    letter-spacing: 0%;
                    text-align: center;
                }
            }
        }
        .slick-prev {
            left: 70px;
            z-index: 1;
            top: auto;
            bottom: 60px;
            &::before {
                content: "";
                background: url(/images/slider_arrow.png) no-repeat left top;
                width: 40px;
                height: 10px;
                display: block;
            }
        }
        .slick-next {
            right: 70px;
            z-index: 1;
            top: auto;
            bottom: 60px;
            transform: rotate(180deg);
            &::before {
                content: "";
                background: url(/images/slider_arrow.png) no-repeat left top;
                width: 40px;
                height: 10px;
                display: block;
            }
        }
    }
}

.about_us_section {
    background: linear-gradient(180deg, #ffefe2 17.31%, #ffffff 100%);
    margin-top: -50px;
    padding-top: 110px;
    .devotional_items {
        padding: 0 40px 15px;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            li {
                background: #fff;
                width: 350px;
                text-align: center;
                padding: 40px 25px;
                font-size: 16px;
                line-height: 30px;
                img {
                    margin: 0 0 20px 0;
                }
                h3 {
                    font-family: "Poppins", sans-serif;
                    font-size: 32px;
                    line-height: 36px;
                    font-weight: 500;
                }
                p {
                    font-size: 16px;
                    line-height: 30px;
                    margin: 0 0 10px;
                }
                a {
                    text-decoration: none;
                    color: #db4242;
                    font-weight: 600;
                }
            }
        }
    }
    .about_us_info_section {
        padding: 50px 40px;
        display: flex;
        justify-content: space-between;
        .two_equal_col {
            width: 48%;
            .related_gallery {
                position: relative;
                img {
                    &:nth-child(1) {
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    &:nth-child(2) {
                        position: relative;
                        left: 77px;
                        padding-top: 75px;
                        z-index: 1;
                    }
                    &:nth-child(3) {
                        position: absolute;
                        bottom: -88px;
                        right: 0;
                    }
                }
            }
            .sub_title {
                font-size: 16px;
                font-weight: 800;
                color: #db4242;
                line-height: 26px;
                padding: 75px 0 5px;
            }
            .heading {
                color: #49263d;
                font-size: 38px;
                font-weight: 800;
                line-height: 50px;
            }
            .topics {
                list-style: none;
                padding: 0;
                margin: 40px 0 0 0;
                li {
                    color: #49263d;
                    background: url("/images/list_icon.png") no-repeat left top;
                    padding: 0 0 25px 60px;
                    span {
                        font-size: 16px;
                        font-weight: 700;
                    }
                    p {
                        font-size: 14px;
                        line-height: 22px;
                    }
                    &:last-child {
                        padding-bottom: 0;
                    }
                }
            }
            .tag_line {
                color: #777;
                font-size: 14px;
                line-height: 22px;
                position: relative;
                display: flex;
                align-items: center;
                span {
                    display: inline-block;
                    background: #7e4555;
                    height: 82px;
                    width: 4px;
                    margin: 0 20px;
                    position: relative;
                    &:before {
                        width: 2px;
                        height: 30px;
                        background: #7e4555;
                        content: "";
                        position: absolute;
                        left: -7px;
                        top: 28px;
                    }
                    &:after {
                        width: 2px;
                        height: 30px;
                        background: #7e4555;
                        content: "";
                        position: absolute;
                        left: 7px;
                        top: 28px;
                    }
                }
            }
            .learn_more_btn {
                background: #ffffff;
                border: 2px solid #efefef;
                display: inline-block;
                border-radius: 50px;
                color: #db4242;
                font-size: 13px;
                line-height: 18px;
                font-weight: 700;
                padding: 19px 30px;
                width: 200px;
                text-indent: -99999px;
                background: url(/images/arrow_icon.png) no-repeat center center #fff;
                margin: 10px 0 0;
                cursor: pointer;
            }
        }
    }
    .about_us_video_section {
        display: flex;
        justify-content: space-between;
        padding: 70px 40px 50px;
        & > div {
            width: 48%;
            display: flex;
            flex-direction: row-reverse;
            &:last-child {
                flex-direction: column;
            }
        }
    }
}

.guidance_section {
    background: #f7f7f7;
    padding: 80px 0;
    display: flex;
    .guidance_section_slider {
        list-style: none;
        padding: 0;
        margin: 0;
        justify-content: space-between;
        .two-col-left {
            float: left;
            width: 45%;
            .sub_title {
                font-size: 16px;
                font-weight: 800;
                color: #db4242;
                line-height: 26px;
            }
            .heading {
                color: #49263d;
                font-size: 38px;
                font-weight: 800;
                line-height: 50px;
            }
            .tag_line {
                color: #49263d;
                font-size: 14px;
                line-height: 22px;
                position: relative;
                display: flex;
                align-items: center;
                padding-top: 20px;
                span {
                    display: inline-block;
                    background: #7e4555;
                    height: 82px;
                    width: 4px;
                    margin: 0 20px 0 10px;
                    position: relative;
                    &:before {
                        width: 2px;
                        height: 30px;
                        background: #7e4555;
                        content: "";
                        position: absolute;
                        left: -7px;
                        top: 28px;
                    }
                    &:after {
                        width: 2px;
                        height: 30px;
                        background: #7e4555;
                        content: "";
                        position: absolute;
                        left: 7px;
                        top: 28px;
                    }
                }
            }
            p {
                color: #777777;
                font-size: 14px;
                line-height: 26px;
                font-weight: 500;
                margin: 0;
                padding-top: 15px;
            }
        }
        .two-col-right {
            width: 55%;
            float: right;
            .mentor_item {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: end;
                li {
                    width: 300px;
                    background: #fff;
                    padding: 20px;
                    margin: 0 40px 0 0;
                    text-align: center;
                    color: #49263d;
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 500;
                    img {
                        margin: -20px -20px 20px -20px;
                    }
                    &:last-child {
                        margin: 0;
                    }
                    span {
                        color: #db4242;
                    }
                }
            }
        }
    }
    .slick-dots{
        display: inline-block;
        position: relative;
        width: auto;
        li{
            width: 30px;
            height: 4px;
            background: #fff;
            transition: 0.3s all;
            button{
                width: 100%;
                height: 100%;
                &::before{
                    display: none;
                }
            }
            &.slick-active {
                width: 50px;
                background: #7E4555;
            }
        }
    }
}

.our_article_section {
    background: #ffffff;
    padding: 80px 0;
}

.section_sub_heading {
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    color: #db4242;
    line-height: 26px;
    span {
        display: inline-block;
        position: relative;
        padding: 0 40px 10px;
        &::before {
            background: url(/images/om_icon.png) no-repeat left top;
            position: absolute;
            content: "";
            left: 0;
            top: 2px;
            width: 20px;
            height: 20px;
        }
        &::after {
            background: url(/images/om_icon.png) no-repeat left top;
            position: absolute;
            content: "";
            right: 0;
            top: 2px;
            width: 20px;
            height: 20px;
        }
    }
}

.section_heading {
    font-weight: 700;
    font-size: 38px;
    line-height: 50px;
    color: #49263d;
    padding-bottom: 50px;
    text-align: center;
}

.our_article_section {
    text-align: center;
    font-weight: 900;
    font-size: 38px;
    line-height: 50px;
    color: #49263d;
    .article_wrapper {
        display: flex;
        justify-content: space-between;
        .article-items {
            background-color: #fff;
            width: 380px;
            box-shadow: 0px 4px 4px 0px #db424240;
            img {
                width: 100%;
            }
            .by_line {
                display: flex;
                width: 90%;
                margin: 0 auto;
                border-bottom: 1px solid #49263d33;
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                justify-content: space-between;
                padding: 15px 0;
                color: #49263d;
                .date {
                    background: url(/images/calender.png) no-repeat left top;
                    padding: 0 0 0 20px;
                }
                .author {
                    background: url(/images/avatar.png) no-repeat left top;
                    padding: 0 0 0 20px;
                }
            }
            .title {
                width: 90%;
                margin: 0 auto;
                font-weight: 400;
                font-size: 36px;
                line-height: 50px;
                text-align: center;
                padding: 30px 0;
            }
        }
    }
}

.testimonials_section {
    background: url(/images/map.png) no-repeat center top;
    padding-bottom: 100px;
    .testimonials_wrapper {
        display: flex;
        justify-content: space-between;
        .testimonials_items {
            width: 50%;
            background: #fff;
            box-shadow: 0px -6px 10px 0px #0000000d;
            padding: 30px;
            display: flex;
            margin: 0 15px;
            figure {
                width: 206px;
                margin-right: 20px;
                img {
                    width: 100%;
                }
            }
            p {
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                color: #49263d;
                margin: 0;
                padding: 40px 0 25px 0;
                border-bottom: 1px solid #efefef;
            }
            .monk_details {
                font-weight: 700;
                padding: 25px 0 0;
                span {
                    display: block;
                    font-weight: 400;
                    color: #757e88;
                }
            }
        }
        .slick-prev,
        .slick-next{
            display: none;
        }
    }
}
